extends layout

block content
    section.title
        h1 All Game

    section.intro
        .company-img
            img(src="/images/main.jpg", alt="main image", width="400", height="300")
        .company-desc
            h2 Brief Introduction

            p
                | This startup offers 
                strong PS5
                |  gaming services.
                | If you want to use a 
                strong controller
                |  but don't have the right equipment, come to our store.
                | We have 
                strong multiple locations
                |  across the country, and you're welcome to come in and enjoy
                |  playing on the PS5
            p
                | Our stores offer 
                strong 3D sound effect headphones
                |  coverage.
                | The footsteps in the game are clearly identifiable in terms of their direction, providing you with an immersive
                |  experience.
                | The new PS5 console and 
                strong 120Hz refresh rate TV
                |  are equipped with DualSense controllers fully featuring adaptive triggers and haptic feedback functions.
                |  The loading speed is lightning-fast. To explore our stores:
            ul
                li National Store Map
                li Our equipment
                li Reviews
            p
                em Please do not forget to donate to our company.
                |  Our company needs more money but our founder had no money (Just a college student), So don't hesitate.
                |  Have a good day!

    h1 People Behind All Game
    section.team
        h1 Meet the Team
        .team-grid
            .member
                img(src="/images/staff1.jpg", alt="staff1")
                h3 Alex Sun
                p Founder &#38 CEO
            .member
                img(src="/images/staff2.jpg", alt="staff2")
                h3 Bob Bee
                p CTO
            .member
                img(src="/images/staff3.jpg", alt="staff3")
                h3 Carol Cee
                p Lead Designer
