nav.navbar
    .nav-container
        .logo All Game
        ul.nav-links
            li
                a(href="/") About Us
            li
                a(href="/admin/orders") Orders (admin only)
            li
                a(href="/order") Place Order